body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header img{
    width: 150px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 10px;
}
nav a :hover{
    text-decoration: underline;
}
header{
    background-color: black;
}
.z{
    display: flex;
    justify-content: center;
}
.z img{
    width: 500px;
    padding-left: 580px;
}
.x{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card{
    margin-left: 100px;
    margin-top: 50px;
    width: 1000px;
    height: 575px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px;
    background-color: #D9D9D9;
}
.comments{
    margin-left: 100px;
    margin-top: 50px;
    width: 650px;
    height: 575px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px;
    background-color: #D9D9D9;
}
.bod{
    display: flex;
    justify-content: space-around;
}
.cardd{
    width: 600px;
    height: 525px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    background-color: #ffffff;
    margin: 25px;
    margin-right: 0px;
}
.carddd{
    width: 360px;
    height: 298px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #ffffff;
    margin-right: 25px;
}
.card img{
    width: 320px;
}
.cardd p{
    font-size: 18px;
}
.v{
    display: flex;
    justify-content: space-between;
}
.bv{
    padding-left: 25px;
    margin-right: 25px;
}
.vb{
   
}
.vb img{
    margin: 25px;
}
.vb h3{
    padding-left: 25px;
    padding-top: 10px;
}
.n{
    padding-top: 50px;
    font-size: 18px;
}
footer{
    background-color: black;
    margin-top: 0px;
}
footer div{
    color: aliceblue;
}
.fi{
    width: 150px;
}
.rs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}
.c a{
    text-decoration: none;
    color: black;
}
.c a :hover{
    text-decoration: underline;
}
.barra{
    margin-top: 50px;
    width: 1000px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;
    background-color: #D9D9D9;
    border-color: black;
}
.barrita{
    display: flex;
    justify-content: center;
}
.barritaa{
    margin: 25px;
    width: 550px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px;
    background-color: white;
    margin-bottom: 10px;
}
.comments h2{
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
.comments p{
    margin: 25px;
    margin-top: 5px;
    width: 450px;
    height: 23px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.comments h4{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
}
.pp{
    margin: 25px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px;
    background-color: rgb(147, 205, 219);
    padding: 10px;
    text-align: center;
}
.pc{
    display: flex;
    align-items: center;
}
.frd{
  width: 70px;
}