body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header img{
    width: 150px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 10px;
}
nav a :hover{
    text-decoration: underline;
}
header{
    background-color: black;
    margin-bottom: 75px;
}
.z{
    display: flex;
    justify-content: center;
}
.z img{
    width: 500px;
    padding-left: 580px;
}
.x{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card{
    width: 1000px;
    height: 560px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px;
    background-color: #D9D9D9;
}
.card img{
    width: 150px;
}
.bg2{
    background-color: black;
}
.bg2 p{
    padding-top: 600px;
    margin-bottom: 0px;
}
.vb{
    display: flex;
    justify-content: center;
}
.sc{
    
}
.sc img{
    width: 100px;
}
.scs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    margin-top: 0px;
}
footer div{
    color: aliceblue;
}
.fi{
    width: 150px;
}
.rs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}
.c a{
    text-decoration: none;
    color: black;
}
.c a :hover{
    text-decoration: underline;
}